
.vs/OOP_Project_tb2/FileContentIndex/40f9e775-a2cb-4f26-bb20-bfff8238a5fd.vsidx
.vs/OOP_Project_tb2/FileContentIndex/read.lock
.vs/OOP_Project_tb2/v17/.wsuo
.vs/OOP_Project_tb2/v17/Browse.VC.db
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
.vs/VSWorkspaceState.json
OOP_Lab/.vs/VSWorkspaceState.json
OOP_Lab/.vs/OOP_Lab/FileContentIndex/4167fad5-a5f9-42c4-b342-551bd71f3e1e.vsidx
OOP_Lab/.vs/OOP_Lab/FileContentIndex/read.lock
OOP_Lab/.vs/OOP_Lab/v17/.wsuo
OOP_Lab/.vs/OOP_Lab/v17/Browse.VC.db
OOP_Lab/.vs/ProjectSettings.json
OOP_Lab/.vs/slnx.sqlite
